{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Регистрация :: {{ block.super }}
{% endblock %}

{% block head %}
    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}

        <form class="form-signin" method="post">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
{% endblock %}