{% extends 'layout/base.html' %}
{% load static i18n%}
{% block title %}
Регистрация :: {{ block.super }}
{% endblock %}

{% block head %}
    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}
    {% block navbar %}
{% endblock %}
{% block content %}

        <form class="form-signin" method="post">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{% trans 'Register' %}</h1>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-success btn-block" type="submit">{% trans 'Register' %}</button>
            <hr>
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">{% trans 'Sign in' %}</a>
        </form>
{% endblock %}
   {% block footer %}
{% endblock %}